### DATA TYPES

In [8]:
PRINT("10")

NameError: name 'PRINT' is not defined

In [9]:
print(10)

10

In [11]:
x=10

10

In [12]:
x=10

In [13]:
print(x)

10

In [14]:
type("X")

str

In [15]:
type(x)

int

In [16]:
y="latha"
type(y)

str

In [20]:
course="AI"
type(course)
course
type(course)

str

In [22]:
course="ai"
print(type(course))
course

<class 'str'>

'ai'

In [23]:
type(course),course

(str, 'ai')

In [25]:
book_names="ai,py,sql"
book_names

'ai,py,sql'

In [27]:
book+name="ai,py,sql"
book+name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (795904699.py, line 1)

In [26]:
book names="ai,py,sql"

SyntaxError: invalid syntax (204636795.py, line 1)

In [28]:
3book_name="ai,py,sql"
3book_names

SyntaxError: invalid decimal literal (1424805135.py, line 1)

### space is not allowed
### only special charecter is underscore
### variable name should not start with the number
### variable name start with A-z,a-z,_

### data structure

### square brackets
### we can retrive elements using index and index starts from 0
### mutable> we can make the change

In [41]:
sample_list=[14,20,45,70,"hi"]
sample_list

[14, 20, 45, 70, 'hi']

In [42]:
type(sample_list)

list

In [34]:
sample_list[3]

70

In [36]:
sample_list[4]

'hi'

In [37]:
sample_list[5]

IndexError: list index out of range

In [45]:
sample_list[0]=5
sample_list

[5, 20, 45, 70, 'hi']

In [46]:
sample_list[3]="hello"
sample_list

[5, 20, 45, 'hello', 'hi']

### paranthesis
### we can reteive elements using index and index starts from 0
### immutable> we cannot make the changes

In [51]:
sample_tuple=(25,65,78,45)
sample_tuple

(25, 65, 78, 45)

In [52]:
type(sample_tuple)

tuple

In [56]:
sample_tuple[2]=5
sample_tuple

TypeError: 'tuple' object does not support item assignment

In [58]:
sample_tuple[1]

65

In [59]:
sample_tuple[2]

78

In [60]:
sample_tuple[3]

45

#### {}
#### duplicates are not allowed
#### arranged accodring to first place
#### cannot access using index
#### set is muttable not through indexing but through add or removing

In [64]:
sample_set={1,2,3,4,57,"hi","akhil",2}
sample_set

{1, 2, 3, 4, 57, 'akhil', 'hi'}

In [63]:
sample_set[5]

TypeError: 'set' object is not subscriptable

In [65]:
sample_set[5]=20

TypeError: 'set' object does not support item assignment

In [67]:
sample_set.add(100)
sample_set

{1, 100, 2, 3, 4, 57, 'akhil', 'hi'}

In [68]:
sample_set.remove("akhil")
sample_set

{1, 100, 2, 3, 4, 57, 'hi'}

In [69]:
sample_set.add(403)
sample_set

{1, 100, 2, 3, 4, 403, 57, 'hi'}